



.saldo {
  font-weight: 700;
  font-size: 32px;
}

.detalhe {
  color: #41d3be;
  font-size: 24px;
}

@media (max-width: 800px) {
  .box {
    width: 95%;
    margin: 5px;
  }

  .conteudo {
    flex-direction: column;
  }
}
